html {
  height: 100%;
  line-height: 1;

  * {
    font-family: 'Ubuntu', sans-serif;
  }
}

body,
#__nuxt,
#__layout {
  height: 0;
  min-height: 100%;
}

body {
  overflow-y: scroll;
}

.bold {
  font-weight: 500;
}

.desktop-only {

  @include respond-to($tablet) {
    display: none !important;
  }
}

.tablet-only {
  display: none !important;

  @include respond-to($tablet) {
    display: initial !important;
  }
}

a[href^=tel] {
  text-decoration: underline;
  color: inherit;
}
